.container {
  margin-top: 20px;
}

.field {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.input {
  width: 85%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  width: 85%;
}

.button {
  margin-right: 15px;
}

